<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title th:text="${title}"></title>
<body class="w3-padding-small">
	<h2 class="w3-red w3-border w3-round-xlarge w3-border-black w3-center">Usuario
		Jugador index</h2>
	<div class="w3-panel w3-leftbar w3-pale-green w3-border-green">
		<h1>
			Bienvenido <span th:text="${name}"></span> <span
				class="w3-small w3-padding-small w3-teal w3-border w3-border w3-round-xlarge"
				th:text="${fecha.diaDelMes}+' / '+${fecha.mes}+' / '+${fecha.anno}"></span>
		</h1>
		<!-- Vemos si el jugador existe -->
		<div class="w3-padding-small" th:if="${jugador!=null}">
			<p>Nombre: 
			<span class="w3-small w3-padding-small w3-yellow w3-border w3-border w3-round-xlarge" th:text="${jugador}"></span>
			</p>
			<p>
			Talla:  
			<span class="w3-small w3-padding-small w3-teal w3-border w3-border w3-round-xlarge" th:text="${jugador.talla+'mts'}"></span>
			</p>
			<p>
			Peso:  
			<span class="w3-small w3-padding-small w3-teal w3-border w3-border w3-round-xlarge" th:text="${jugador.peso+'kg'}"></span>
			</p>
			<p>
			Años: 
			<span class="w3-small w3-padding-small w3-green w3-border w3-border w3-round-xlarge" th:text="${jugador.fechaNacimiento.calcularAnnos()}"></span>
			</p>
			<p>
			Lumbar: 
			<span class="w3-small w3-padding-small w3-green w3-border w3-border w3-round-xlarge" th:text="${jugador.pruebasFuncionales.lumbar}"></span>
			</p>
			<p>
			Abdominal: 
			<span class="w3-small w3-padding-small w3-green w3-border w3-border w3-round-xlarge" th:text="${jugador.pruebasFuncionales.abdominal}"></span>
			</p>
		</div>
			<div class="w3-padding-small" th:if="${jugador==null}">
		<span class="w3-padding-small w3-yellow w3-border w3-border w3-round-xlarge">no hay usuario</span></div>
	</div>
	<p><a th:href="@{/}" class="w3-padding-small w3-teal w3-border w3-border w3-round-xlarge">Ir a Inicio</a> </p>
	</div>

</body>
</html>