<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title th:text="${title}"></title>
</head>
<body class="w3-container w3-padding">
<!-- Título encabezado -->
	<div class="w3-panel w3-leftbar w3-pale-green w3-border-green">
		<h1>
			Bienvenido <span th:text="${name}"></span> 
			<span class="w3-small w3-padding-small w3-teal w3-border w3-border w3-round-xlarge" th:text="${fecha.diaDelMes}+' / '+${fecha.mes}+' / '+${fecha.anno}"></span>
		</h1>
	</div>
	<p><a th:href="@{/usuario/ver}" class="w3-padding w3-teal w3-border w3-border w3-round-xlarge">Usuario</a> </p>

</body>
</html>